#!/usr/bin/make -f

# DH_VERBOSE=1

%:
	dh $@

override_dh_auto_clean:
	stack clean
	rm -rf .stack-work

override_dh_auto_build:
	stack build

override_dh_auto_install:
	stack install --local-bin-path $(CURDIR)/debian/carma-sms-svc/usr/bin
	install -d $(CURDIR)/debian/carma-sms-svc/etc/carma
	install -m 644 carma-sms-svc.conf $(CURDIR)/debian/carma-sms-svc/etc/carma/carma-sms-svc.conf
	install -d $(CURDIR)/debian/carma-sms-svc/etc/monit/conf-available
	install -m 644 debian/carma-sms-svc.monit $(CURDIR)/debian/carma-sms-svc/etc/monit/conf-available/carma-sms-svc
	install -d $(CURDIR)/debian/carma-sms-svc/etc/rsyslog.d
	install -m 640 debian/carma-sms-svc.rsyslog $(CURDIR)/debian/carma-sms-svc/etc/rsyslog.d/40-carma-sms-svc.conf

.PHONY: override_dh_autoclean override_dh_auto_build override_dh__auto_install
